# XFS extras
# These are marked as experimental in the help text, but are considered
# stable enough to have enabled. Tools warn on their use anyway and
# e.g. systemd services that make use of them aren't enabled by default.
#
# https://blogs.oracle.com/linux/post/xfs-online-filesystem-checking
# https://blogs.oracle.com/linux/post/xfs-online-filesystem-repair
CONFIG_XFS_ONLINE_REPAIR=y
CONFIG_XFS_ONLINE_SCRUB=y
