## no-debug configuration file for Gentoo dist-kernels
## Disables features related to kernel debugging

# CONFIG_DEBUG_INFO is not set
# CONFIG_DEBUG_RODATA_TEST is not set
# CONFIG_DEBUG_VM is not set
# CONFIG_DEBUG_VM_PGTABLE is not set
# CONFIG_DEBUG_SHIRQ is not set
# CONFIG_DEBUG_LIST is not set
# CONFIG_BUG_ON_DATA_CORRUPTION is not set
# CONFIG_BOOTTIME_TRACING is not set
# CONFIG_RING_BUFFER_BENCHMARK is not set
# CONFIG_X86_DECODER_SELFTEST is not set
# CONFIG_KGDB is not set
# CONFIG_DEBUG_KERNEL is not set
