## Enable zboot for easier signing, this results in a .efi kernel image
CONFIG_EFI_ZBOOT=y

## Enable kexec signature verification
CONFIG_KEXEC_SIG=y
CONFIG_KEXEC_SIG_FORCE=y
CONFIG_SIGNED_PE_FILE_VERIFICATION=y
## For amd64/x86
CONFIG_KEXEC_BZIMAGE_VERIFY_SIG=y
## For arm64/riscv
CONFIG_KEXEC_IMAGE_VERIFY_SIG=y

## Enable support for lockdown
CONFIG_SECURITY_LOCKDOWN_LSM=y
CONFIG_SECURITY_LOCKDOWN_LSM_EARLY=y
# CONFIG_LOCK_DOWN_KERNEL_FORCE_NONE is not set
CONFIG_LOCK_DOWN_KERNEL_FORCE_INTEGRITY=y

## Allow the kernel to have keyring for UEFI keys and MOK list
CONFIG_INTEGRITY_SIGNATURE=y
CONFIG_INTEGRITY_ASYMMETRIC_KEYS=y
CONFIG_INTEGRITY_TRUSTED_KEYRING=y
CONFIG_INTEGRITY_PLATFORM_KEYRING=y
CONFIG_INTEGRITY_MACHINE_KEYRING=y

## Load all MOK keys into the MOK keyring
# CONFIG_INTEGRITY_CA_MACHINE_KEYRING is not set
# CONFIG_INTEGRITY_CA_MACHINE_KEYRING_MAX is not set
